<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDts-NEqC3vza_d3z3FZ3joPuE3R6e5XXQ</string>
	<key>GCM_SENDER_ID</key>
	<string>436608130655</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.okanagancollege.frontend.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>iha-expense-app</string>
	<key>STORAGE_BUCKET</key>
	<string>iha-expense-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:436608130655:ios:2a6058d8840de9486645ea</string>
</dict>
</plist>